header {
  height: 10%;
  display: flex;

  align-items: center;
  h1 {
    padding: 0 0 0 1rem;

    color: black;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
